<div class="row">
  <h1>
    <%= complete_name(@user) %>
</h1>
  <%= @user.email if @user.email %>
  <%= @user.time_zone if @user.time_zone %>
  <div class="organizations">
    <h3>Organization</h3>
    <div class="organization">
      <% @user.organizations.each do |org| %>
        <%= org.name %>
    <% end %>
    </div>
  </div>
