.navbar {
  background-color: #8CDAF0;
 }

.punch {
  background-color: #33C9D5;
  border-radius: 5px;
  margin: 10px;
  color: white;
  display: block;
  min-height: 100px;
}

.punch .date {
  text-align: center;
  font-size: 1.5em;
  border-bottom: 1px solid gray;
}

.punch .in, .out {
  width: 50%;
  height: 25%;
  display: inline;
}


.punch .time {
  font-size: .5em;
}

.form-inline {
  text-align: center;
}
