.navbar {
  background-color: #8CDAF0;
 }

form {
  text-align: center;
}

.date_heading {
  color: #33C9D5;
}

.punch {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: 5px 0;
  line-height: 1.4em;
}

.date {
  text-decoration: bold;
  color: red;
  font-size: 1.4em;
}

button .submit-out {
  width: 100%;
  background-color: #33C9D5;
}

.alert {
  text-align: center;
}
