<%= form_for [@user,@organization], :html => { :class => "form-inline", role: "form", :mulitpart => true } do |f| %>
  <div class="form-group input-sm">
    <%= f.text_field :name, placeholder: "Organization Name", class: "form-control" %>
  </div>
  <%= f.hidden_field :user_id %>
  <div class="form-group input-sm">
    <%= f.submit "Create Organization", class: "btn btn-default" %>
  </div>
<% end %>
